doctype
html
  head
    title My Phaser Flappy Bird Game
    link(href="main.css" rel="stylesheet")
  body
    .container
     h1 Flappy Bird-ish Game
     canvas#game(height=480 width=360)

    script(src="https://cdnjs.cloudflare.com/ajax/libs/phaser/2.3.0/phaser.js")
    script(src="game.js")
