doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scale=no")
    style body { background: black; padding: 0px; margin: 0px; }
    title Flappy
  body
    script
      include js/phaser.min.js
      include js/init.js
      include js/play.js
      include js/main.js
